.demo {
  background-color: 0;
}
.demo .demo1 {
  background-color: rebeccapurple;
}
.demo .demo1:hover {
  background-color: green;
}
.demo h2 {
  font-size: 35px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  background-color: #f7f9fe;
  box-shadow: rgba(255, 255, 255, 0.24) 0px;
}
header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_content .header_logo a {
  text-decoration: none;
  font-size: 26px;
  color: #2c72dc;
  font-weight: 700;
}
header .header_content .header_nav ul {
  list-style: none;
  display: flex;
}
header .header_content .header_nav ul li {
  margin: 0 10px;
  position: relative;
}
header .header_content .header_nav ul li.active a {
  color: #2c72dc;
}
header .header_content .header_nav ul li.active a::before {
  width: 100%;
}
header .header_content .header_nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #1d355e;
  font-weight: 400;
}
header .header_content .header_nav ul li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #2c72dc;
  bottom: -10px;
  left: 0;
  transition: all 0.5s;
}
header .header_content .header_nav ul li:hover a {
  color: #2c72dc;
}
header .header_content .header_nav ul li:hover a:before {
  width: 100%;
}

.banner {
  padding: 50px 0;
  background-image: url(../image/product-header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.banner .banner_content {
  display: flex;
  align-items: center;
}
.banner .banner_content .banner_text h1 {
  font-size: 60px;
  color: #2c72dc;
  font-weight: 700;
}
.banner .banner_content .banner_text .sub-title {
  font-size: 20px;
  color: #1d355e;
  font-weight: 600;
}
.banner .banner_content .banner_text p {
  font-size: 16px;
  color: #1d355e;
  font-weight: 400;
}
.banner .banner_content .banner_text .group-button .more_info {
  border: 2px solid #2c72dc;
  background-color: #ffffff;
  color: #2c72dc;
  box-shadow: none;
  border-radius: 12px;
  padding: 15px 35px;
  transition: all 0.5s;
  cursor: pointer;
}
.banner .banner_content .banner_text .group-button .more_info:hover {
  background-color: #2c72dc;
  color: #ffffff;
}
.banner .banner_content .banner_text .group-button .shop {
  border: 2px solid #2c72dc;
  background-color: #2c72dc;
  color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  border-radius: 12px;
  padding: 15px 35px;
  transition: all 0.5s;
  cursor: pointer;
}
.banner .banner_content .banner_text .group-button .shop:hover {
  background-color: #ffffff;
  color: #2c72dc;
}
.banner .banner_content .banner_image img {
  width: 70%;
  text-align: right;
}

.product {
  padding: 50px 0;
}
.product .product_title {
  text-align: center;
  font-size: 20px;
  color: #1d355e;
  font-weight: 600;
}
.product .product_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product .product_content .product_item img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */